---
layout: default
title: 'Data & API'
---
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="/">icons.land</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Icons</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/data">Data & API</a>
      </li>
    </ul>
  </div>
</nav>

{% include github_corner.html %}

<div class="container">
  <section class="row mt-5">
    <div class="col">
      <h5 class="mb-3">data and scripts</h5>

      <p>
        I coined a bunch of scripts

        <a href="https://github.com/namiwang/icons-land" target=_blank>here</a>

        to fetch and organize data from different icon-packs.
      </p>

      <p>
        I haven't create a fully-functioning API server, for developing purpose, you could directly fetch
        <a href="https://github.com/namiwang/icons-land/blob/master/data/db.json" target="_blank">this db.json</a>
        , which is <a href="https://github.com/typicode/json-server" target="_blank">json-server</a>-compatible.
      </p>
      <p>
        Please use a CDN (like <a href="https://raw.githack.com" target="_blank">githack</a>) to fetch the data file.
      </p>

      <h5 class="mt-5 mb-3">contribution</h5>
      <p>
        <a class="github-button" target="_blank" href="https://github.com/namiwang/icons-land" aria-label="Star namiwang/icons-land on GitHub">Star</a>
        <a class="github-button" target="_blank" href="https://github.com/namiwang/icons-land/issues" data-icon="octicon-issue-opened" aria-label="Issue namiwang/icons-land on GitHub">Issue</a>
      </p>

      <h5 class="mt-5 mb-3">current available icon packs</h5>

      <table class="table">
        <thead>
          <tr>
            <th>icon pack</th>
            <th>version/tag</th>
            <th>icons</th>
            <th>formats</th>
          </tr>
        </thead>
        <tbody>
          {% for pack in site.data.packs %}
            <tr>
              <td>
                <a href="https://github.com/{{ pack.repo }}" target="_blank">
                  {{ pack.name }}
                </a>
              </td>
              <td>{{ pack.ver_tag }}</td>
              <td>{{ pack.icons_amount }}</td>
              <td>{{ pack.formats | join: " " }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <p>* formats detail</p>
      <ul>
        <li>svg: raw inline svg, or svg &lt;path&gt; in css</li>
        <li>icon: officially compacted icon fonts</li>
        <li>react: officially supported/suggested react components lib, or supported by libs like
          <a href="https://github.com/react-icons/react-icons" target="_blank">react-icons</a>
        </li>
      </ul>
    </div>
  </section>
</div>

<!-- TODO footer -->
