---
layout: default
title: 'Icons'
---

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">icons.land</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Icons</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/data">Data & API</a>
      </li>
    </ul>
  </div>
</nav>

{% include github_corner.html %}

<div class="container-fluid">
  <div class="row mt-5">
    <div class="col text-center">
      <h1>icons.land</h1>
      <p class="lead">search icons from popular icon packs</p>
      <ul class="nav justify-content-center">
        {% for pack in site.data.detailed_packs %}
          <li class="nav-item">
            <a class="nav-link" href="{{ pack.url }}" target="_blank">
              {{ pack.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="row mt-5">
    <div id="searchbox" class="col col-md-8 offset-md-2"></div>
    <!-- TODO random/hot queries -->
  </div>

  <div class="row my-5">
    <!-- TODO sticky refinement list -->
    <div id="refinement-list-pack" class="col-12 col-md-3 p-3"></div>
    <div id="hits" class="col-12 col-md-9 mt-5 mt-md-0 p-3"></div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/algoliasearch/3.32.0/algoliasearchLite.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.8.4"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js"></script>
<script src="/assets/scripts/app.js"></script>
